PORT=8000
MONGO_URI=mongodb://localhost:27017/questpay-payment-integration
QUESTPAY_API_KEY=qp_live_sk_your_api_key_here
QUESTPAY_BASE_URL=https://payments-server.questlabs.cc/api
QUESTPAY_WEBHOOK_PATH=/webhooks/questpay
CLIENT_URL=https://client-url.com
JWT_SECRET=change_me_in_production
